Flask>=0.12

# Flask Extensions
Flask-Assets>=0.12
Flask-Cache>=0.13.1
Flask-DebugToolbar>=0.10.0
Flask-Login>=0.4.0
Flask-Script>=2.0.5
Flask-WTF>=0.14

# Database
Flask-SQLAlchemy>=2.2
mysql-python>=1.2.5
Flask-Migrate>=2.0.3

# Other
itsdangerous>=0.24
cssmin>=0.2.0
jsmin>=2.2.1
flipflop>=1.0

# Testing
pytest>=3.0.7
pytest-cov>=2.4
mccabe>=0.3
flake8>=2.4.0
pylint>=1.7.0